body {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
	background-image: url("back.png");
}

#tartalom {
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  width: 900px;
}

.kepkeret {
  width: 90px;
  float: right;
  padding: 0px 5px 5px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: rgba(227, 225, 233, 0.8);
}

.kepkeret img {
  width: 100px;
  position: relative;
  left: -5px;
  border-bottom: 1px solid black;
}

h1,
h2 {
  font-variant: small-caps;
  font-style: italic;
}

p.kepfelirat {
  font-size: 1.1em;
  margin: 0px;
  text-indent: 0;
}

p {
  text-indent: 20px;
  text-align: justify;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link,
a:visited {
  color: blue;
}

a:hover {
  color: red;
}

.kiemelt {
	color: blue; /*alternatíva: #0000ff; rgb(0,0,255)*/
	font-weight: bold;
}

.kepfelirat {
	text-align: center;
	font-style: italic;
}

table {
	text-align: center;
	border: 5px olive solid;
	border-collapse: collapse;
}

td,th {
	text-align: center;
	border: 1px green solid;
	background-color: rgb(180,180,180);
}
caption {
	font-weight: bold;
}